.Profile-page {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    flex-wrap: wrap;
}
.Profile-header {
    padding: 24px;
    background-color: white;
}
.personal-info {
    display: flex;
}
.profile-pic {
    width: 80px;
    height: 80px;
}
.panel {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 16px;
}

.edit {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit svg {
    margin-right: 8px;
}
.button-container {
    margin: 32px 0;
}

.Profile-wrapper {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px !important;
    flex-grow: 1;
}

.Profile-wrapper .cta {
    border-radius: 50px;
}

.Profile-wrapper .orange {
    background: #F2994A;
}

.Profile-header h3 {
    margin-bottom: 16px;
}

.edit p {
    color: #6D3FE6;
}