.AppointmentInfo h3 {
    padding: 16px;
    font-weight: bold;
}
.AppointmentInfo .table {
    text-align: center;
}
.AppointmentInfo .row {
    position: relative;
    display: grid;
    grid-template-columns: 46% 54%;
    justify-content: center;
    border-bottom: 1px solid blue;
    padding: unset;
}
.AppointmentInfo .col  {
    font-weight: bold;
    padding: 16px;
}

.AppointmentInfo .col.left {
    grid-column: 1;
    padding-right: 16px;
    text-align: right;
    border-right: 1px solid blue;
}

.AppointmentInfo .col.right {
    grid-column: 2;
    text-align: left;
    padding-left: 16px;
    font-weight: 100;
}
.AppointmentInfo .row .col a {
    text-decoration: none;
    color: #6D3FE6;
    padding: unset;
}
.AppointmentInfo {
    padding: 24px;
}