.Navigation {
    height: 44px;
    display: flex;
}
.Navigation h3 {
    font-weight: lighter;
    padding: 12px;
}

.back-arrow {
    height: 20px;
    width: 20px;
    display: block;
    padding: 12px 18px;
    color: unset;
}
